<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itheima.health.mapper.MemberMapper">

    <select id="getMemberCount" resultType="java.util.HashMap">
        select count(id) 'memberCount', date_format(regTime, '%Y-%c') 'months'
        from t_member
        group by date_format(regTime, '%Y-%c')
        order by date_format(regTime, '%Y-%c') desc;
    </select>
</mapper>
