<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itheima.health.mapper.OrdersettingMapper">
    <insert id="batchInsert">
        insert into t_ordersetting (orderDate, number, reservations) values
        <foreach collection="collection" item="ordersetting" separator=",">
            (#{ordersetting.orderDate},#{ordersetting.number},0)
        </foreach>
    </insert>

    <select id="selectDateList" resultType="com.itheima.health.model.vos.OrdersettingVO">
        select day (orderDate) 'date', number, reservations
        from t_ordersetting
        where date_format(orderDate, '%Y-%c') = #{month};
    </select>
</mapper>